/*-global-*/


body {
	background-size: 100%;
	font-optical-sizing: auto;
	font-family: "Work Sans", sans-serif;
	background-color: #05051E;
	color: white;
}

h1{
	font-family: "Work Sans", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-weight: 500;
	font-size: 48px;
	line-height: 56px;
	align-items: center;
	text-align: center;
	letter-spacing: 0.05em;

	/* Gradient */
	background: linear-gradient(92.1deg, #A578FF, #FF83BD, #FFBA6D, #FBE9BE);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;


	/* Inside auto layout */
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;

}


h2{
	font-family: "Work Sans", sans-serif;
	font-optical-sizing: auto;
	font-size: 2rem;
	line-height: 0.8em;
	font-weight: 600;
	
	margin-bottom: 1.5em;
	color: white;
}

h2.subtitle{

font-family: 'Work Sans';
font-style: light;
font-weight: 200;
font-size: 24px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;

}

h3{
	font-family: "Work Sans", sans-serif;
	font-optical-sizing: auto;
	font-size: 2.63rem !important;
	line-height: 1.2em;
	font-weight: 600;
	color: white;
}

h4{
	font-family: "Work Sans", sans-serif;
	font-optical-sizing: auto;
	font-size: 1em;
	line-height: 1.2em;
	font-weight: 300;
	color:#fff;


}

h5{
	font-family: "Work Sans", sans-serif;
	font-optical-sizing: auto;
	font-size: 21px !important;
	line-height: 1.2em;
	font-weight: 600;
	color: white;
	background: linear-gradient(92.1deg, #A578FF, #FF83BD, #FFBA6D, #FBE9BE);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}

h5.featurette-heading{

background: linear-gradient(90deg, #FFBA6D 0%, #FBE9BE 19.67%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
padding-bottom: 0.5em;
}

.hero{
	margin-top: 80px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0px;
	width: 1200px;
	height: 320px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	background: radial-gradient(50% 50% at 50% 50%, #3b31724a 0%, #ffffff00);
	height:480px;
}

p.quote{
	max-width:688px;
	margin-bottom: 2em;
	font-weight: 300;
	font-size: 1.1em;
	font-optical-sizing: 5%;
}


.greeting{
	margin-bottom: auto;
}

.module-border-wrap {
	background: linear-gradient(to right, #3B3172, rgb(255, 255, 255),#3B3172);
	padding: 1.5px;
	border-radius: 32px;
	box-sizing: border-box;
	margin: 1em;

  }

  .module {
	background-color: #05051E;
	color: white;
	padding: 0.5rem;
	border-radius: 40px;
	text-align: center;
	padding-left: 8px;
	padding-right: 16px;
  }


.arrow{
	background-color: rgb(66, 55, 110);
	border-radius: 8px;
}

@media screen and (max-width: 1199px){

}

@media screen and (max-width: 991px) {
	html{
		font-size: 87.5% !important;
	}

	h5{
		font-size: 16px !important;
	}

	h6{
		font-size: 12px !important;
	}
	div.myname{
		padding-top: 1.5em;
		padding-bottom: 1.5em;
	  }
	.hero2{
		height:670px !important;
	}
}

/* overide bootstrap container */

.container{
	max-width: 1640px;
	width:100%;
}

/* title */

.titlespan1{
display: block;
}

.titlespan{
	color:#8E2DE2;
}
.title-addition{
	color: #a8a8a8 !important;
	font-family: "Work Sans", sans-serif;
	font-optical-sizing: auto;

}

.centerline{
	height: 100%;
	margin-top: auto;
	margin-bottom: auto;
}

.titleh2{
	font-size: 2rem !important;
	color:#7e7e7e !important;
	line-height: 1.1em;
	font-weight: normal;
}

.titleh2 span{
	font-size: 2.1rem;
	display: block;
	color: #8E2DE2;
}


.navbar-toggler{
background-color: #c4bbf7;
}

/*down arrow*/
#customerslink2 img{
    background: #8E2DE2;
    border-radius: 100px;
}

/* title descriptions */
    .title-description{
    	margin-bottom: 3em !important;
    	color: #ffffff;

    }    

    .title-description2{
    	margin-bottom: 3em !important;
    	color: #ffffff;
    }	
/*main page rectangle and image*/

.rectangle {	
	border-radius: 40px;
	height: 65vh;
 	width: 35vw;
 	margin-right: 0px;
	margin-left: auto;
	background: #8E2DE2;  /* fallback for old browsers */
	background: -webkit-linear-gradient(225deg, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(225deg, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.rectangle-position{
	position: absolute; 
	transform:translate(25%,-50%); 
	z-index: 0;
}

.user-img-holder{
	z-index: 1;
	position: absolute;
	background-image: url('../img/user.png');
	background-repeat: no-repeat;
	background-size: contain;
	width: 100%;
	height: 33em;
	transform: translateY(-50%);
}

@media (max-width: 991.98px){

}

@media screen and (max-width: 767px){
	.rectangle{
		height: 37vh;
		width: 65vw;
	}

	.rectangle-position{
	transform: none;
	position: relative;
	}

	.user-img-holder {
		transform: translate(0%) !important;
		height: 35vh;
	}

	.title-text-container{
		height: 46vh;
	}

	.rectangle-image-container{
		margin-left: 4em;
		margin-right: 4em;
	}	
}

@media screen and (max-width: 600px){
	.rectangle-image-container{
		margin: 0em;
	}
	h3{
		font-size: 1.63rem !important;
	}
}
@media screen and (max-width: 550){
	h1{
		line-height: 40px;
        	margin-bottom: 16px;
	}
	
}
/*--buttons main page-----------------------------------*/

#projectslink2{
	margin-right: 0.5em;
}
/*--tausta---*/
.navbar.bg-light{ 
	background: #05051E !important;
	border-bottom: 0.5px solid #322f52;
	color:#ffffff;
	padding: 1.0em
}

/*--"Tommi Pirttilahti"----*/
.navbar-brand{
	color: #ffffff !important;
}

.navbar-brand:hover{
	color:#666666 !important;
}

/*--linkit----*/
.nav-link{
	color: #ffffff !important;
}
.nav-link:hover{
	color:#666666 !important;
}

/*--valittu linkki------*/
.nav-item.active{
	font-weight: 600 !important;
}

/*--project--*/

div.project-hover:hover{
	border-style: solid;
}

a.proj:hover{
	text-decoration: none;
	opacity: 0.5;
}

div.projects{
}

img.imgdown{
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}

.project-items{
	background: linear-gradient(-45deg,  #2a4280, #0f1c49);
}

.project{
}

.crop{
	width: 100%;
    overflow: hidden;
    height: 160px;
    border-radius: 4px 4px 0px 0px;

}

.project-image{
width: 100%;
}


.project-main-img-holder{
	padding-right: 0px !important;
	padding-left: 0px !important;
}

.project-main-img{
	background-size: cover;
	height: 100%;
	background-position: center;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}

.alyenergia-main-img{
	background-image: url(../img/alyenergiamain.png);
}

.MRPmain-img{
	background-image: url(../img/MRPmain.png);
}

.sales-main-img{
	background-image: url(../img/salesmain.png);
}

.fleet-main-img{
	background-image: url(../img/fleet.jpg);
}

.thermal-main-img{
	background-image: url(../img/thermal-web.jpg);
}

.gaze-main-img{
	background-image: url(../img/pointr-mockup.jpg);
}

.light-main-img{
	background-image: url(../img/lightprototypeWEB.jpg);
}


.btn.btn-primary {
	background-color: white;
	border: none;
	color: black;
	margin: 4px;
	min-width: 120px;
}

.btn-primary:hover{
	background: #2b2a2c;
	color: white;
}

.button-position{
	    width: 100%;
    position: absolute;
    bottom: 0px;
}

.button{
	text-align: center;
	margin-top: 40px;
}

.back-up{
	color: #020202;
	text-align: center;
	vertical-align: middle;
	height: auto;
	padding-top: 3em;
	margin: auto;
}

.back-up:hover{
	background-color: #8E2DE2;
	cursor: pointer;
	padding-left: 10px;
	padding-right: 10px;
}

.btn-secondary{
    background-color: #05051E;
    border: 1px;
    border-radius: 4px;
	border-style: solid;
	margin: 4px;
	min-width: 120px;
}

.btn-secondary:hover{
	background: #2b2a2c;
	color: white;
}

/*---Customers ---*/

.customers-heading{
	font-weight: 600;
}

div.customers{
	padding: 4em;

}

.city_of_tampere{
	vertical-align: middle;
}

.VTT-logo{
	vertical-align: middle;
}

.DeltaCygniLabs{
	vertical-align: middle;
}

.yliopisto_kirjasto{
	vertical-align: middle;
}

.wone{
	vertical-align: middle;
}
/*--Method--*/
div.method{
	margin-top: 3rem;
	margin-bottom: 7rem;
}

.method-top{
	margin-bottom: 1rem;
}

.method h2{
    color: #ffffff !important;
    font-size: 1.65rem !important;

}

.method p{
	
}

.method li{

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;
height: 40px;
line-height: normal;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

    color: #ffffff;
}

.method li span{
	font-size: 0.8rem;
	color: #ffffff;
	font-style: italic;
}

.method .boxes{
    margin: 0.3rem;
    background-color: white;
	background: -webkit-linear-gradient(180deg, #131333, #04052a);
    background: linear-gradient(180deg, #131333, #04052a);
    border-radius: 8px;
	border:0.5px solid #3B3172;
	box-shadow: 0 -28px 84px -24px #e2e8ff35 inset;
}

.method-background{
	height: 200px;
	object-fit: cover;
	border-radius: 8px;
	margin-bottom:16px;
	flex: auto;
	max-width: 100%;
}

.method-title{
	padding: 16px;
	height: 56px;

}

.svg{

}

ul .method {
  list-style:none;
  
}

li {
	list-style: none;
}

ul.method > li:before {
    content: '';
    display: inline-block;
    width: 1em;
    background-image: url(../img/SVG/check_small.svg);
    background-repeat: no-repeat;
    margin-right:0.5em;   
	border-radius: 32px;
    padding: 12px;
	background-color: #17895E;
	background-position: center;
}

/*--about--*/

.about{
	border-radius: 12px;
	padding: 2em 8em 2em 2em;
	background: -webkit-linear-gradient(180deg, #131333, #04052a);
    background: linear-gradient(180deg, #131333, #04052a);
    border-radius: 8px;
	border:0.5px solid #3B3172;
	box-shadow: 0 -28px 84px -24px #e2e8ff35 inset;
}


/*--contact...*/

.contact{
}

.contact-details{
    margin-top: 24px;
    margin-bottom: 24px;
    background-color: #0f0d31;
    border-radius: 12px;
}

.contact-img{
	padding-top: 0px !important;
	width: 70%;
    margin: auto;
	border-radius: 8px;
}

@media screen  and (max-width:  600px){
	.contact-img{
		padding: 16px;
		margin: auto !important;
   		display: block;
	}

}

/*--Project---*/

.projects{
	margin-top: 3rem;
	margin-bottom: 1.5rem;
}


.featurette-heading{
	padding-left: 2em;
	padding-right: 2em;
	color: #8E2DE2;
}

.project-details{
	padding: 2em;
	background: #8E2DE2;  /* fallback for old browsers */
	Border-radius: 4px;
	min-height: 400px;

	background: -webkit-linear-gradient(180deg, #131333, #04052a);
    background: linear-gradient(180deg, #131333, #04052a);
    border-radius: 8px;
	box-shadow: 0 -28px 84px -24px #e2e8ff35 inset;
}

.details-heading{
	background: linear-gradient(92.1deg, #A578FF, #FF83BD, #FFBA6D, #FBE9BE);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}

.details-subheading{
	padding-left: 0.5em;
	padding-right: 0.5em;
	color: #fff;
	font-weight: bold;
}

.details-description{
	padding-left: 1em;
	padding-right: 1em;
	color: #eee;
	font-size: 1em;
	font-weight: 200;
}

.img-fluid{
	padding: 2em;
}

div.featurette-image{
	padding-top: 5em;
}

.text-muted{
 color: #BFBFBF !important;
}

.myproject{
}



#myproject{
	
	border-radius: 8px;
	border-style:solid;
	border-color:#3B3172
	;
}

.logos{
	height: 100px;
	margin: 1em;
	text-align: center;
	line-height: 100px;
	-webkit-filter: saturate(0%); /* Safari 6.0 - 9.0 */
	filter: saturate(0%);
	 opacity: 1.0;

}

.logos2{
	height: 100px;
	margin: 1em;
	text-align: center;
	line-height: 100px;
	-webkit-filter: invert(100%); /* Safari 6.0 - 9.0 */
	 filter:invert(0.4);
	 opacity: 1.0;

}

.logos:hover{
	-webkit-filter: saturate(100%); /* Safari 6.0 - 9.0 */
	 filter: saturate(100%);
	 opacity: 1;
	 background-color:  rgb(203, 194, 255);
	 border-radius: 24px;
}

.logos2:hover{
	-webkit-filter: saturate(100%); /* Safari 6.0 - 9.0 */
	 filter: saturate(100%);
	 opacity: 1;
	 background-color: rgb(203, 194, 255);
	 border-radius: 24px;
}

.logos img{
	max-width: 200px;
}
.logos2 img{
	max-width: 200px;
}

.projectholder{
    margin-bottom: 36px;
    box-shadow: #00000050 0px 1px 2px;
    color: black;
    height: 350px;
    position: relative;
    border-radius: 6px;
}

.projectholder h4{
	color: #ffffff;
	margin-top: 20px;
    margin-top: 20px;
    font-size: 1.1rem !important;
    font-weight: 600;
    padding: 0px 20px;
}

.leadtext{
	padding: 3em;
	margin: auto;
}

p.lead{
	font-size: 1.0rem;
	padding-left: 2.5em;
	padding-right: 2.5em;
}

.down-indicator{
	display: block;
	margin: auto;
}

.particle {
	position: absolute;
	border-radius: 50%;
	transform: translate(-50%, -50%);
	transition: opacity 0.3s ease-out;
  }

  .particle-container {
	width: 100%;
	height: 600px;
	border-radius: 8px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
  }


/*-----pages---------------*/ 

.top-bar{
	background-color: #020202;
	height: auto;
	padding: 1.4em;
}

.hero2{

	/* Auto layout */
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0px;
	gap: 10px;
	margin: auto;
	max-width: 1440px;
	height: 580px;


	/* Inside auto layout */
	flex: none;
	order: 1;
	flex-grow: 0;
}

.greeting2{
	margin-bottom: auto;
}

.module-border-wrap2 {
	background: linear-gradient(to right,#6b4b91, rgb(211, 182, 204),#6b4b91);
	padding:1.5px;
	border-radius: 40px;
	box-sizing: border-box;
	margin: 1em;

  }

  .module2 {
	background-color: #9b6496;
	color: white;
	padding: 0.7em;
	border-radius: 40px;
	text-align: center;
	padding-left: 16px;
	padding-right: 16px;
  }

h2.pagehero{
	margin-bottom:0.8em;
	margin-top: 0.4em;
}
h2.pageyear{
	font-weight: 200;
	margin-bottom:0.3em;
}

.background-layer{

	/* Auto layout */
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px;

	max-width: 1440px;
	width: 100%;

	background: linear-gradient(92.96deg, #3B3172 0.08%, #FF83BD 99.93%);

	/* Inside auto layout */
	flex: none;
	order: 0;
	flex-grow: 0;
}

.background-layer.mrp{
	background: linear-gradient(272.96deg, #3B3172 0.07%, #A578FF 99.92%);
	width: 100%;
}
.module2.mrp{
	background-color: #9a7dbb;
}
.module-border-wrap2.mrp{
	background: linear-gradient(to right,#a489db, rgb(156, 103, 199),#f1bbff);
}

.background-layer.alyenergia{
	background: linear-gradient(92.96deg, #A578FF 0.08%, #66E77A 99.93%);
	width: 100%;
}
.module2.alyenergia{
	background-color: #90b4c2;
}
.module-border-wrap2.alyenergia{
	background: linear-gradient(to right,#dfcfff, rgb(102, 231, 122),#d3bdff);
}
.content-container{

	/* Auto layout */
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
	min-width: 1200px;
	height: 850px;


	/* Inside auto layout */
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
}

.image-container{

	/* Auto layout */
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0px;

	width: 100%;
	height: 240px;

	margin:auto;


	/* Move outside background-layer */
	position: relative;
	bottom: 0px;

	/* Inside auto layout */
	flex: none;
	order: 2;
	align-self: stretch;
	flex-grow: 0;
}

.hero2-image{
	max-height: 350px;
}

.KPIs{
	max-width: 960px;
	margin:auto;
	gap:16px;
	margin-bottom: 16px;

}
.KPIbackground{
    box-shadow: rgba(226, 232, 255, 0.208) 0px -28px 84px -24px inset;
    padding: 1em;
    background: linear-gradient(rgb(19, 19, 51), rgb(10, 12, 48));
    border-radius: 8px;

}

.KPI{
	text-align: center;
}

.KPItext{
	margin-bottom: 0px;
	background: linear-gradient(92.1deg, #A578FF, #FF83BD, #FFBA6D, #FBE9BE);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
	font-weight: 600;
	text-align: center;
}

.lightertext {
	font-weight: 320;
}



section.work-section{
	max-width: 960px;
	width:100%;
	margin:auto;
	background: linear-gradient(270deg, rgba(255, 255, 255, 0.1) 0%, rgba(153, 153, 153, 0.1) 100%);
	border-radius: 16px;
	background: -webkit-linear-gradient(180deg, #131333, #04052a);
    	background: linear-gradient(180deg, #131333, #04052a);
	border:0.5px solid #3B3172;
	box-shadow: 0 -28px 84px -24px #e2e8ff35 inset;

}

.case-image-container{
	margin-left:5.5rem;
	margin-right:5.5rem;
}

.case-image{
	max-width: 100%;
}


@media screen and (max-width: 991px) {
	.content-container{
		min-width:320px;
	}

	.pagehero{
		max-width: 360px;
		line-height: inherit;
		text-align: center;
	}

	.hero2-image{
		max-width: 460px;
	}

	.project{

	}

	div.projects{
	}

	.project-details{
		border-radius: 6px;
		padding: 2.5em;
	}

	p.lead{
		font-size: 1em;
		padding-left: 1em;
		padding-right:1em
	}
}

@media screen and (max-width: 767px) {
	.project-main-img{
		height: 400px;
	}
	.project-details{
		min-height: 300px;
	}
}

@media screen and (max-width: 600px) {
	.leadtext{
		padding: 1em;
	}
}	
@media screen and (max-width: 460px) {
	.hero2-image{
		max-width: 360px;
	}
}

/*blog posts*/

a.blog-links{
	color: #d8d8d8;
	text-decoration: none;
}

.blog{
	padding: 2em;
	margin: 4rem 0rem 4rem 0rem;
}

.blog-container{
	background: -webkit-linear-gradient(180deg, #131333, #04052a);
    background: linear-gradient(180deg, #131333, #04052a);
    border-radius: 8px;
	border:0.5px solid #3B3172;
	box-shadow: 0 -28px 84px -24px #e2e8ff35 inset;
    padding: 1em 1em 1em 1em;

    border-radius: 6px;
}

.blog-container:hover{
	opacity: 50%;
}

/*timeline*/

* {
  box-sizing: border-box;
}

/* The actual timeline (the vertical ruler) */
#timeline{
    margin: 7rem 0rem 4rem 0rem;
}

.timeline {
  position: relative;
  margin: 0 auto;
  padding-bottom: 5em;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 3px;
  background-color: #8E2DE2;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container2 {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container2::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -11px;
  background-color: white;
  border: 4px solid #8E2DE2;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #8E2DE2;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent #8E2DE2 transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -14px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
  box-shadow: #00000057 1px 1px 4px;
}

/* text */
h4.year{
	line-height: 1em;
	color: #70707C !important;
}

p.timeline-title{
	font-weight: 600;
	line-height: 1.2em;
}

p.timeline-subtitle{
	line-height: 1.5em;
	font-size: 14px;
}

p.timeline-text{
	font-size: 12px;
	line-height: 1.5em;
	font-weight: normal;
	color: #747474 !important
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

/* Full-width containers */
  .container2 {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
  .container2::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent transparent transparent #8E2DE2;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 17px;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }

  .titleh2{
  	font-size: 1.2rem !important;
  }

  .titleh2 span{
  	font-size: 1.1rem;
  }

  h1{
  	font-size: 2.5rem !important;
  }
}

@media screen and (max-width: 600px) {
	 .row{
		 margin: 0px !important;
	}
	
	.about{
		padding: 2em;
	}
	
	.customers{
	    padding: 1em 1em 5em 1em !important;
	}
	.p-5{
		padding: 1rem !important;
	}
}
